.background {
  background-color: #2E4B7F;
}

.logo {
  background-image: url(logo.png);
  background-size: 50% auto;
}

.progressBar {
  background-color: #F2B43B;
}

.watermark {
  background-image: url(watermark.png);
  background-size: 64px 64px;
}
