.background {
  background-image: linear-gradient(#1C2429, #304047);
}

.logo {
  background-image: url(logo.png);
  background-size: 50% auto;
}

.progressBar {
  background-color: #FF8D00;
}

.watermark {
  background-image: url(watermark.png);
  background-size: 64px 64px;
}
