.background {
  background-color: #11161A;
}

.logo {
  background-image: url(logo.png);
  background-size: 50% auto;
}

.progressBar {
  background-color: #FF9A00;
}

.watermark {
  background-image: url(watermark.png);
  background-size: 64px 64px;
}
